.cont-btn-form
	margin 20px auto 0
	width 50%

	.btn-default-landing
		color $blanco
		cursor pointer
		border 0
		font-size 0.9rem
		font-weight $light
		padding 8px 0
		position relative
		text-transform uppercase
		transition all .4s
		width 100%

		&.bg-fucsia
			background $fucsia
		
		&.bg-rojo
			background $rojo

		&.bg-amarillo
			background $amarillo
		
		&.bg-azul
			background $azul
		
		&.bg-morado
			background $morado
		
		&:hover
			background $blanco
			color $grisclaro


.cont-btn-plan
	margin 20px auto 0
	position relative
	width 80%

	.btn-default-psb
		color $blanco
		cursor pointer
		border 0
		font-size 0.9rem
		font-weight $light
		padding 8px 0
		transition all .4s
		width 100%

		&.bg-fucsia
			background $fucsia
		
		&.bg-rojo
			background $rojo

		&.bg-amarillo
			background $amarillo
		
		&.bg-azul
			background $azul
		
		&.bg-morado
			background $morado
		
		&:hover
			background $blanco
			color $grisclaro

.cont-btn-menu
	margin 20px auto
	width 72%

	.btn-menu
		background-color $moradopsb
		border 0
		color $grisclaro1
		font-size 0.8rem
		padding 10px
	
.text-info-menu
	text-align center
	margin 0

		

