.cont-footer-psb
    background-color $moradopsb
    
    .cont-info-footer
        color $grisccc
        display flex
        flex-direction column
        padding 20px

        .title-footer
            font-size 1.1rem
            margin 10px 0
            text-transform uppercase 
        
        .text-item-contact,
        .text-footer
            font-size 0.8rem
            font-weight $light
            margin-top 10px
            text-align justify
    
    .cont-contact
        .list-contact
            list-style none
            margin 20px auto
            padding 0
            width 80%

            .item-contact
                display flex
                margin-bottom 10px

                .icon-item-contact
                    display inline-block
                    margin-right 20px
                    width 30px

    
    .cont-text-footer
        background-color $moradopsbd
        padding 10px

        .text-footer 
            color $dorado
            font-size 0.6rem  
            margin 0
