.cont-menu-psb
	box-shadow 0px 2px 0px 1px $grisclaro
	position fixed
	width 100%
	z-index 3

	.menu-landing-psb
		background-color $blanco
		overflow hidden
		position relative
		
		.item-menu
			border-bottom 1px dotted $grisccc
			color $gris
			display block
			float left
			font-weight $light
			font-size 0.7rem
			position relative
			padding 14px 16px
			text-decoration none
			width 90%

			&.cont-logo-psb
				width 70px
				border-bottom 0

			&:hover,
			&.active
				border-bottom 1px solid $dorado

			&:not(:first-child)
				display none
				
			&.icon-menu
				border-bottom 0
				display block
				position absolute
				right 0
				width 30px
			
			&.cont-info-menu
				&:hover
					border-bottom 1px solid $blanco
			
		&.responsive-menu
			
			.icon-menu
			 	position absolute
				right 0
				top 0
				
			.item-menu
				display block
				float none
		