.cont-menu-psb
	box-shadow 0px 2px 0px 1px $grisclaro
	position fixed
	width 100%
	z-index 3

	.menu-landing-psb
		background-color $blanco
		overflow hidden
		position relative
		
		.item-menu
			border-bottom 4px solid $blanco
			color $gris
			display block
			float left
			font-weight $light
			font-size 1rem
			padding 14px 16px
			text-decoration none
			width 100%

			&.cont-logo-psb
				width 70px

				&:hover
					border-bottom 4px solid $blanco

			&:hover,
			&.active
				border-bottom 4px solid $dorado

			&:not(:first-child)
				display none
				
			&.icon-menu
				display block
				position absolute
				right 0
				width 30px

				&:hover
					border-bottom 4px solid $blanco

		&.responsive-menu
			
			.icon-menu
			 	position absolute
				right 0
				top 0
				
			.item-menu
				display block
				float none
		
		