@media screen and (min-width:750px)
	.cont-menu-psb 
		.menu-landing-psb 
			.item-menu
				float left
				font-size 0.9rem	
				font-weight $light
				height 56px
				margin-top 54px
				text-align center
				width 16%

				&:not(:first-child)
					display block

				&.cont-logo-psb
					margin 0 20px	
					width 100px

				&.icon-menu
					display none

			&.responsive-menu

				.item-menu
					float left
					font-size 0.9rem	
					font-weight $light
					height 56px
					margin-top 54px
					text-align center
					width 16%
				
				&:not(:first-child)
					display block

	
	.cont-all-landing-psb
		.cont-modal-form 
			.cont-info-modal
				width 30%

		&.formulario-header
			padding-top 184px
		
		.cont-program-psb,
		.plan-program-psb,
		.cont-detail-payment
			flex-direction row
	
	.cont-form-program
		.title-form-program
			font-size 1.4rem
		.intro-form-program
			width 90%

	.cont-intro-program-psb
		margin-right 40px
		width 90%

	.cont-title-program
		text-align left
	
	.title-plan-program
		margin 20px auto 50px
	
	.cont-social-psb
		
		.title-name-social
			display block
			font-size 0.8rem
			font-weight $light
			text-align center
		
		.cont-icon-social
			float left
			width 20%
	
	.cont-icon-social-facebook,
	.cont-icon-social-instagram,
	.cont-icon-social-linkedin
		padding 0 40px
		width 33%

	.cont-plan-program
		.plan-program-psb
			.detail-program
				margin 0 20px
	
	.cont-btn-plan
		margin 40px auto 20px
		width 30%
	
	.cont-list-program
		width 100%
	
	.cont-objetives-program
		.title-plan-program
			margin 20px 0
			text-align left
		.cont-list-program
			width 46%
	
	.detail-payment
		margin 30px auto
	
	.cont-footer-psb
		.cont-info-footer
			flex-direction row
		
			.cont-about-us,
			.cont-contact,
			.cont-map-psb
				width 34%
	
		.cont-contact
			.list-contact
				.item-contact
					margin-bottom 6px

					.icon-item-contact
						margin-right 16px
						width 30px