.cont-all-landing-psb
	&.formulario-header
		position relative
	
	.cont-modal-form
		background-color rgba(0, 0, 0, 0.9)
		height 100%
		position absolute
		top 0
		width 100%

		.cont-info-modal
			background-color $grisclaro1
			border-radius 12px
			margin 25% auto 0
			padding 20px
			width 80%
		
			.cont-icon-modal
				margin 0 auto
				width 40%
			
			.cont-text-modal
				font-family $roboto
				.title-modal
					color $moradopsb
					font-weight $bold
					text-align center
				
				.text-modal
					font-size 1rem
					font-weight $light
					margin-top 10px
					text-align center
			
			.btn-default-landing
				background-color $moradopsb
				margin-bottom 10px

				&:hover
					background-color $blanco
					color $moradopsb

