/*

En este archivo se declaran los colores, las fonts y sus variaciones

las variables se deben declarar con $ al inicio del nombre de la variable

*/

//Paleta de colores del proyecto

$fucsia      = #AB056B
$rojo        = #BA0207
$amarillo    = #E69902
$azul        = #039BB6
$morado      = #36025C
$moradoscuro = darken($morado, 30%)
$moradoclaro = lighten($morado, 30%)
$blanco      = #ffffff
$cafe        = #332309
$gris        = #393938
$grisclaro1  = #EAEAEA
$grisclaro   = #666666

/*pueden encontrar más funciones para mezclas y manejo de color acá:
https://learnboost.github.io/stylus/docs/bifs.html*/

//Fonts
$roboto = 'roboto', sans-serif

//font weights
$light  = 300
$normal = 400
$bold   = 700


//site grid spacing and width
$gutter            = 0.5rem
$site-width         = 110rem