form#FormPSB.form-program
    div.group-form
        input#nombre.input-default(type="text", name="nombre", required)
        label.label-default(class=color, for="nombre")
            |Nombre y Apellido
    div.group-form
        input.input-default(type="text", name="email", required)
        label.label-default(for="email")
            |Correo electrónico
    div.group-form
        input.input-default(type="number", name="numerocontacto", required, maxlength="10")
        label.label-default(for="numerocontacto")
            |Número de contacto
    div.group-form
        select.select-default.arrow-select(name="ciudad")
            option(value="0")
                |
            option(value="1")
                |Bogotá
            option(value="2")
                |Villavicencio
        label.label-default(for="")
            |Ciudad
    div.group-form
        select#Programa.select-default.arrow-select(name="carrera", required)
            option
                |
            option(value="Producción Gráfica", selected= titulo == 'produccion')
                |Tecnología en Producción Gráfica para Medios Publicitarios
            option(value="Realización Audiovisiual", selected= titulo == 'realizacion')
                |Realización Audiovisiual
            option(value="Gestión Comercial", selected= titulo == 'gestion')
                |Gestión Comercial Internacional
            option(value="Sistemas Informáticos", selected= titulo == 'sistemas')
                |Sistemas Informáticos		
        label.label-default(for="carrera")
            |Carrera
    div.group-form
        label.cont-check-terms
            input.option-terms(type="radio", name="terms")
            span.icon-checkmark
            p.text-input-terms
                |Acepto Política de Privacidad y las Condiciones de Uso.
    
    div.cont-btn-form
        button.btn-default-landing(class="bg-"+color)
            |Enviar