//Header
header.cont-menu-psb
	div#menu-psb-landing.menu-landing-psb
		a(href="http://www.politecnicosantafedebogota.edu.co/portal/", target="_blank")
			img.img-responsive(src="images/Img-Logo-PSB.png", alt="Logo-PSB")
		a(href="realizaciona.html")
			|Realizaci칩n Audiovisiual
		
		a(href="realizaciona.html")
			|Realizaci칩n Audiovisiual

		a(href="realizaciona.html")
			|Gesti칩n Comercial Internacional
		
		a(href="realizaciona.html")
			|Sistemas Inform치ticos

///-Header