//Header
header.cont-menu-psb
	div#menu-psb-landing.menu-landing-psb
		a.item-menu.cont-logo-psb(href="http://www.politecnicosantafedebogota.edu.co/portal/", target="_blank")
			img.img-responsive(src="images/Img-Logo-PSB.png", alt="Logo-PSB")
		a.item-menu(href="http://produccion-grafica.psb.edu.co/", class={active: titulo === "produccion"})
			|Producción Gráfica para Medios Publicitarios
			i.icon-carrer.c-pg
			i.icon-arrow
		a.item-menu(href="http://realizacion-audiovisiual.psb.edu.co/", class={active: titulo === "realizacion"})
			|Realización Audiovisiual
			i.icon-carrer.c-ra
			i.icon-arrow
		a.item-menu(href="http://gestion-cormercial.psb.edu.co/", class={active: titulo === "gestion"})
			|Gestión Comercial Internacional
			i.icon-carrer.c-gc
			i.icon-arrow
		a.item-menu(href="http://sistemas-informaticos.psb.edu.co/", class={active: titulo === "sistemas"})
			|Sistemas Informáticos
			i.icon-carrer.c-si
			i.icon-arrow
		a.item-menu.cont-info-menu
			p.text-info-menu
				|Inscríbete hoy
			div.cont-btn-menu
				button.btn-menu
					|Con el 30% de descuento AQUÍ
			p.text-info-menu.margin-bottom
				|+57 (1) 7 56 3499 -7563531
			p.text-info-menu.margin-bottom
				|admisiones@psb.edu.co

		a.item-menu.icon-menu(href="javascript:void(0);", onclick="functionMenu()")
			div.icon-hamburger
				i
				i
				i

///-Header