//-Layout Base
extends ../templates/base.pug

//-Etiqueta Title
block title
	-var titulo = "sistemas"
	title Programa | Sistemas Informáticos

//-Etiqueta Metadescription
block description
	meta(name="description", content="Programas Politécnico Santafé de Bogotá" )


block content
	//-Formulario
	section.cont-all-landing-psb.formulario-header-sistema
		article.cont-program-psb
			div.cont-intro-program-psb
				div.cont-title-program
					p.text-type-program
						|Técnologia en
					h1.title-program
						|Sistemas Informáticos
					p.text-resolution-program
						|Resolución 5144 de 22 de Junio de 2011 SNIES 91372101338
			
				div.cont-list-program
					ul.list-header-program
						li.item-list-header
							i.icon-check.blanco
								include ../templates/partials/icon-check.pug
							p.text-list-program.blanco
								|Asumir los retos de las nuevas tecnologías en diseño.
						li.item-list-header
							i.icon-check.blanco
								include ../templates/partials/icon-check.pug
							p.text-list-program.blanco
								|Implementación de procesos en las diferentes empresas, en el área de informática, análisis de software, redes y telecomunicaciones.
		
			div.cont-form-program
				h2.title-form-program.azul
					|Inscríbete con el 30% de DESCUENTO
				
				p.intro-form-program
					|Conviértete en el experto que quieres ser
				
				form.form-program(action="informacion")
					div.group-form
						input#nombre.input-default(type="text", name="nombre", required)
						label.label-default.fuscia(for="nombre")
							|Nombre y Apellido
					div.group-form
						input.input-default(type="text", name="email", required)
						label.label-default(for="email")
							|Correo electrónico
					div.group-form
						input.input-default(type="text", name="numerocontacto", required)
						label.label-default(for="numerocontacto")
							|Número de contacto
					div.group-form
						select.select-default.arrow-select(name="ciudad", required)
							option
								|
							option(value="1")
								|Bogotá
							option(value="2")
								|Cali
						label.label-default(for="ciudad")
							|Ciudad
					div.group-form
						select.select-default.arrow-select(name="carrera", required)
							option
								|
							option(value="1")
								|Tecnología en Producción Gráfica para Medios Publicitarios
							option(value="2")
								|Realización Audiovisiual
							option(value="3")
								|Gestión Comercial Internacional
							option(value="4")
								|Sistemas Informáticos	
						label.label-default(for="carrera")
							|Carrera
					div.group-form
						label.cont-check-terms
							input.option-terms(type="radio", name="terms")
							span.icon-checkmark.bg-azul
							p.text-input-terms
								|Acepto Política de Privacidad y las Condiciones de Uso.
					
					div.cont-btn-form
						button.btn-default-landing.bg-azul
							|Enviar
		//-Redes
		article.cont-social-psb.bg-azul
			div.cont-icon-social-facebook
				a.blanco(href="https://api.whatsapp.com/send?phone=5717563499&text=Quiero%20m%C3%A1s%20informaci%C3%B3n")
					div.cont-icon-social
						include ../templates/partials/icon-whatsapp.pug
					p.title-name-social
						| Politécnico Santafé de Bogotá
			div.cont-icon-social-instagram
				a.blanco(href="https://www.instagram.com/politecnicosantafebogota/")
					div.cont-icon-social
						include ../templates/partials/icon-instagram.pug
					p.title-name-social
						| @politecnicosantafebogota
			div.cont-icon-social-linkedin
				a.blanco(href="https://www.facebook.com/politecnicopsb?_rdc=1&_rdr")
					div.cont-icon-social
						include ../templates/partials/icon-facebook.pug
					p.title-name-social
						| Politécnico Santafé de Bogotá
		//-Modal
		div.cont-modal-form(style="display:none;")
			div.cont-info-modal
				div.cont-icon-modal
					img.img-responsive(src="images/headphone.svg", alt="")
				
				div.cont-text-modal
					h3.title-modal
						|Tu formulario se ha enviado correctamente
					
					p.text-modal
						|Gracias por confiar en nosotros, uno de nuestros asesores se comunicará pronto.
				
					div.cont-btn-form
						button.btn-default-landing
							|Aceptar
	//-Que
	section.cont-all-landing-psb
		article.cont-plan-program
			h3.title-plan-program
				|¿Qué consigues 
				span.azul
					|con psb?
			div.plan-program-psb
				div.detail-program
					div.icon-detail-program
						img.img-responsive(src="images/Img-Icon-SI-01.png", alt="")
					p.text-detail-program
						|Sé un profesional capaz de enfrentarte al panorama de competitividad como efecto de la internacionalización y globalización de la economía.
				div.detail-program
					div.icon-detail-program
						img.img-responsive(src="images/Img-Icon-SI-02.png", alt="")
					p.text-detail-program
						|Experto en desarrollo web, bases de datos, métodos de diseño, gestión de software y recursos, telecomunicaciones, desarrollo de sistemas sobre ambientes móviles.
			
			div.cont-btn-plan
				button.btn-default-psb.bg-azul
					|Plan de Estudios
				i.icon-arrow-btn
					|>
	//-Objetivos
	section.cont-all-landing-psb.objetives-section-sistema
		article.cont-objetives-program
			h3.title-plan-program
				|objetivos 
				span.azul
					|del programa
			div.cont-list-program
				ul.list-header-program
					li.item-list-header
						i.icon-check
							i.icon-check.azul
								include ../templates/partials/icon-check.pug
						p.text-list-program.gris
							|Orientado a modelar, diseñar e implementar soluciones informáticas empresariales.
					li.item-list-header
						i.icon-check
							i.icon-check.azul
								include ../templates/partials/icon-check.pug
						p.text-list-program.gris
							|formar tecnólogos que entiendan y propongan soluciones informáticas de alta tecnología.
					li.item-list-header
						i.icon-check
							i.icon-check.azul
								include ../templates/partials/icon-check.pug
						p.text-list-program.gris
							|Proporcionar las bases teóricas y prácticas para ingresar al mundo laboral.
					
	//-General
	section.cont-all-landing-psb
		article.cont-info-payment
			div.cont-detail-payment
				div.detail-payment
					i.icon-check.azul
						include ../templates/partials/icon-check.pug
					p.text-detail-payment
						|CRÉDITO 
						br
						span.azul
							|DIRECTO
				div.detail-payment
					i.icon-check.azul
						include ../templates/partials/icon-check.pug
					p.text-detail-payment
						|DESCUENTO 30%
						br
						span.azul
							|MATRÍCULA
				div.detail-payment
					i.icon-check.azul
						include ../templates/partials/icon-check.pug
					p.text-detail-payment
						|HOMOLOGACIÓN 
						br
						span.azul
							|DE ESTUDIOS
			
			div.cont-btn-plan
				button.btn-default-psb.bg-azul
					|Quiero más información
				i.icon-arrow-btn
					|>
			
			
block Scripts
	//-Acá se ponen js que solo vayan en ésta página

